body {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    background-color: #AFEEEE;
}

p {
    font-size: 1000%;
    margin: 0;

}

#clock-div {
    box-sizing: border-box;
    text-align: center;
    /*border: 1px solid #578CA9;*/
    height: 200px;
    width: 400px;
}

button {
    margin: 0 auto;
    background-color: Transparent;
    background-image:none;
    box-shadow: none;
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 200%;


}